
Dear Participant,

Thank you for registering for TEQIP-III sponsored Skill Development Training on "Efficient, Trackable and Sustainable Workflow" to be held from December 02 - 08, 2020.
**Consider this mail as a confirmation of your registration.
Time commitment - 
20 hours ( 4 hours per day for 5 days)
Self paced online, asynchronous mode, expect Inaugural, Valedictory function and one interaction session on Friday each of 1 hour duration.
For details: https://gdy.club/gitSDT
**Prerequisites for attending SDT
Step1: Availability of a computer system and a good internet connection.  
Step2: Click on Link:  https://desktop.github.com/
or copy url and paste in browser.
Step3:Follow the steps to install github software for your desktop.


Contact Information
Dr H S Rai | Email:coe@gndec.ac.in
Dr Daljeet Singh | Phone: 99155-71007

Regards

Organising Team
Examination Branch 
of Guru Nanak Dev Engineering College, in association with
Civil Engineering and CSE Departments
